body {
    background-color: #444444;
    font-family: arial, verdana;
}

#title {
    font-size: 180%;
    color: #888888;
    font-weight: bold;
}

td {
    font-size: 140%;
}

.text {
    width: 900px;
}

.desc {
    text-align: right;
    color: #888888;
}

.show1 {
    background-color: #333333;
}

.show2 {
    background-color: #555555;
}

a {
    color: #cccccc;
}

